{
            "folder_id": "123",
            "source_image_id": "qwe",
            "service_account_key_file": "./secretplace/key.json",
            "ssh_username": "username",
            "use_ip_nat: "true"
}
